a .bi-chevron-down,
button .bi-chevron-down
.btn .bi-chevron-down {
	display: none;
}

a .bi-chevron-up,
button .bi-chevron-up,
.btn .bi-chevron-up {
	display: inline;
}

a.collapsed .bi-chevron-down,
button.collapsed .bi-chevron-down,
.btn.collapsed .bi-chevron-down {
	display: inline;
}

a.collapsed .bi-chevron-up,
button.collapsed .bi-chevron-up,
.btn.collapsed .bi-chevron-up {
	display: none;
}

@media (min-width: 576px) {
	.area-promo .diskon {
		transform: scale(1.5)!important;
	}
}


@keyframes slideInFromLeft {
  0% {
		opacity: 0;
    transform: translateX(-100px);
  }
  100% {
		opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
		opacity: 0;
    transform: translateY(-50px);
  }
  100% {
		opacity: 1;
    transform: translateY(0);
  }
}

.filterprodukcore{
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.filterloading{
	animation: 1s ease-out 0s 1 slideInFromTop;
}

/*FILTER CHECKMARK*/

#filterdiv .form-check {
	font-size: 90%;
	margin-bottom: .25rem;
}

#filterdiv .form-check label.checkmark {
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 100%;
	background-color: #ebecec;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 100;
}

#filterdiv .form-check input {
	display: none;
}

#filterdiv .form-check input:checked ~ .checkmark {
	background-color: #999!important;
}

#filterdiv .form-check label {
	cursor: pointer;
}

/*Add To Cart*/
.modal.fade .modal-dialog {
	transform: scale(.5);
}
.modal.fade.show .modal-dialog {
	transform: scale(1);
}
@media(min-width: 1200px) {
	.modal {font-size: 16px;}
}
